<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free resto catalogue for you" />
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="manifest" href="./app.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <title>Rasa Nusantara</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to content ?</a>
    <header class="nav-bar">
      <div class="nav-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="nav-bar__brand">
        <h2>Rasa Nusantara</h2>
      </div>
      <nav id="navigationDrawer" class="nav-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/like">Favorite</a></li>
          <li class="nav-item">
            <a href="https://github.com/sarwan04" target="_blank" rel="noreferrer">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>
        All data obtained from
        <a href="https://restaurant-api.dicoding.dev" target="_blank" rel="noreferrer"
          >Rasa Nusantara</a
        >
      </p>
    </footer>
  </body>
</html>
